In [3]:
from loguru import logger
import pandas as pd

In [19]:
jcr = pd.read_csv('JCR2024-UTF8.txt', encoding='utf-8')
chin = pd.read_csv('FQBJCR2025-UTF8.csv', encoding='utf-8')

In [20]:
jcr.head(3)

,Journal,ISSN,eISSN,Category,IF(2024),IF Quartile(2024),IF Rank(2024)
0,CA-A CANCER JOURNAL FOR CLINICIANS,0007-9235,1542-4863,ONCOLOGY(SCIE),232.4,Q1,1/326
1,NATURE REVIEWS MICROBIOLOGY,1740-1526,1740-1534,MICROBIOLOGY(SCIE),103.3,Q1,1/163
2,NATURE REVIEWS DRUG DISCOVERY,1474-1776,1474-1784,BIOTECHNOLOGY & APPLIED MICROBIOLOGY(SCIE);PHA...,101.8,Q1,1/352

In [21]:
chin.head(3)

,Journal,年份,ISSN/EISSN,Review,OA Journal Index（OAJ）,Open Access,Web of Science,标注,大类,大类分区,...,小类2,小类2分区,小类3,小类3分区,小类4,小类4分区,小类5,小类5分区,小类6,小类6分区
0,20 Et 21-Revue D Histoire,2025,2649-664X/2649-6100,否,否,否,AHCI,NaN,历史学,4 [625/778],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2D Materials,2025,2053-1583/2053-1583,否,否,否,SCIE,NaN,材料科学,3 [168/495],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3 Biotech,2025,2190-572X/2190-5738,否,否,否,SCIE,NaN,生物学,4 [629/1091],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
(
    jcr
    .merge(right=chin, left_on='Journal', right_on='Journal', how='left')
    .replace({'IF(2024)': {'<0.1': 0}})
    .astype({'IF(2024)': 'float'})
    .sort_values(by='IF(2024)', ascending=False)
    .query('`IF(2024)` >= 1.0')
    [['Journal', 'IF(2024)', 'Review', 'Open Access', '大类', '大类分区', '小类1', '小类1分区']]
    .to_excel('Summary_JCR2024-IF.xlsx', index=False)
)
logger.info(f'Exported Summary_JCR2024-IF.xlsx successfully!')